<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
      <!-- MAIN CSS -->
      <link rel="stylesheet" href="css/style.css"> 
      <link rel="stylesheet" href="css/index.css">
      <link rel="stylesheet" href="css/media.css">
    <title>React App</title>
    <style>
      body{  overflow-y: hidden;
   overflow-x: hidden;}
     </style>
  </head>
  <body  onload="myFunction()">
   

  <div>




        
          
            <section class="home-section  section-hero " id="home-section">
        
        
            <div class="wrapper">
              
            <div class="h_iframe" >
              <nav id="navbar" class="navbar navbar-expand-lg  dnV  padding-L"
              style="z-index: 1999;"
              >
                <a class="navbar-brand   center yellowColor"  href="venue-tour.html">
                  
                  <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house-door-fill"
                   fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  </svg>
                  <br>
                  VENUE TOUR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active dn-L">
                      <a class="nav-link" href="ballroom.html">BALLROOM <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active dn-L">
                      <a class="nav-link" href="expo-zone.html">EXPERIENCE ZONE <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active dn-L">
                      <a class="nav-link" href="./breakout.html">BREAKOUT HALL <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active dn-L">
                      <a class="nav-link" href="knowlege.html">
                        KNOWLEDGE CENTER </a>
                    </li>
                   
                    
                  
                   
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                   
                    <!-- Button trigger modal -->
      <button type="button" class="btn yellowColor" style="background-color: transparent" data-toggle="modal" data-target="#exampleModal">
        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-pencil-square" 
        fill="white" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        <br>
        AGENDA
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">AGENDA</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img  src="./agenda-online-725x1024.jpg" alt="" srcset="">
            </div>
           
          </div>
        </div>
      </div>
                  </form>
                </div>
              </nav>
                <img class="ratio" src="http://placehold.it/16x9"/>
           
                <iframe id="iframe" class="mtVT" src="https://player.vimeo.com/video/440986246?rel=0;&autoplay=1&mute=1" 
    
                allow="fullscreen; autoplay" allowfullscreen="true"
                frameborder="0" 
                allowfullscreen></iframe>
         
              </div>
          
        </div>
              
        
       
        </section>
        
         </div>  
         <div id="navbar1" href="#about-us-section"
          class="scroll-button smoothscroll paddingLobby
         dnV
         dn-M" >
       
          <div class="row" style="width:100%;padding:0px 50px" >
        
          
        
        
        
        <div class="col text-center yellow">
        
        <a href="lobby.html" class="yellow">
        
          
        
            <img src='./images/expo_area.svg' class="imgLogo " />
            <br/>
            LOBBY
        
        </a>
        </div>
        <div class="col text-center yellow">
        
        <a href="./ballroom.html" class="yellow">
        
          <img src='./images/expo_area.svg' class="imgLogo" />
         </a>
          <br/>
          <a href="./ballroom.html" class="yellow">
          BALLROOM
        </a>
        
        </div>
        
        
        
        <div class="col text-center yellow">
        
        <a href="./expo-zone.html" class="yellow">
          <img src='./images/expo_area.svg' class="imgLogo" />
          <br/>
          EXPERIENCE ZONE
        </a>
        
        </div>
        <div class="col text-center yellow">
        
        <a href="./breakout.html" class="yellow"><img src='./images/expo_area.svg' class="imgLogo" > </a>
          <br/>
          <a href="./breakout.html" class="yellow"> BREAKOUT HALL</a>
        
        
        
        
        
        </div>
        <div class="col text-center yellow">
        
          
          <img src='./images/expo_area.svg' class="imgLogo" />
         
        <br>
        
          <a  href="./knowlege.html" class="yellow"> KNOWLEDGE CENTER</a>
         
        
        
        
        
        </div>
        
        
        
          </div>
        </div> 

 </div> 
 <script>

  function myFunction() {

    var delayInMilliseconds =158000; //1 second

setTimeout(function() {

var element = document.getElementById("navbar");
var element1 = document.getElementById("navbar1");
var myVid=document.getElementById("iframe");
  element.classList.remove("dnV");
  element1.classList.remove("dnV");

//   myVid.stopVideo()
myVid.pause();


}, delayInMilliseconds);

  
    var today = new Date();
    var h3 = today.getHours();
    var m3 = today.getMinutes();
    var s3 = today.getSeconds();
    var  startTime3= h3 + ":" + m3 + ":" + s3;
    localStorage.setItem('BreakoutTimeStart',startTime3)
  
    var xhr = new XMLHttpRequest();
  xhr.open("POST", 'http://localhost:5000/time', true);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  
  xhr.onreadystatechange = function() { // Call a function when the state changes.
      if (this.readyState === XMLHttpRequest.DONE &&
       this.status === 200) {
          // Request finished. Do processing here.
           
            var cd=JSON.parse(xhr.responseText)
            console.log("cdcdcd",cd)
          if(cd.message)
           {
           


  localStorage.removeItem("lobbyTimeStart")
  localStorage.removeItem("lobbyTimeEnd"),
  localStorage.removeItem("ballRoomTimeStart1")
  localStorage.removeItem("BreakoutTimeEnd1")
  localStorage.removeItem("ballRoomTimeEnd")
  localStorage.removeItem("ExpriTimeStart")
  localStorage.removeItem("ExpriTimeEnd")
  localStorage.removeItem("BreakoutTimeStart1")
  localStorage.removeItem("knowTimeStart")
  localStorage.removeItem("KnowTimeEnd")

  
  startTime()
           }
  
      }
  }
  
  
  xhr.send(`phonenumberBy=${localStorage.getItem('phonenumber')}&lobbyTimeStart=${localStorage.getItem('lobbyTimeStart')}&lobbyTimeEnd=${localStorage.getItem('lobbyTimeEnd')}&ballRoomTimeStart=${localStorage.getItem('ballRoomTimeStart')}&allRoomTimeEnd=${localStorage.getItem('ballRoomTimeEnd')}&ExpriTimeStart=${localStorage.getItem('ExpriTimeStart')}&ExpriTimeEnd=${localStorage.getItem('ExpriTimeEnd')}&BreakoutTimeStart=${localStorage.getItem('BreakoutTimeStart1')}&BreakoutTimeEnd=${localStorage.getItem('BreakoutTimeEnd1')}&knowTimeStart=${localStorage.getItem('knowTimeStart')}&KnowTimeEnd=${localStorage.getItem('KnowTimeEnd')}`);
}
  
    
  
    function startTime() {
    // var today = new Date();
    // var h1 = today.getHours();
    // var m1 = today.getMinutes();
    // var s1 = today.getSeconds();
    // var  startTime= h1 + ":" + m1 + ":" + s1;
    // localStorage.setItem('lobbyTimeStart',startTime)
    }
  
    function endTime() {
    
    var today1 = new Date();
    var h2 = today1.getHours();
    var m2 = today1.getMinutes();
    var s2 = today1.getSeconds();
    var  endTime= h2 + ":" + m2 + ":" + s2;
    localStorage.setItem('BreakoutTimeEnd',endTime)
    }
  </script>
<!-- 
 <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/stickyfill.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    
    <script src="js/custom.js"></script>
    

    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>

<script
  src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
  crossorigin></script>

<script
  src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
  crossorigin></script> -->
  </body>
</html>
